.category {
  display: flex;
  flex-flow: column wrap;
  padding: 15px 0 0 30px;
}

.categories {
  display: flex;
  flex-flow: row wrap;
}

.companies-header {
  margin-top: 50px;
  padding-left: 45px;
}

.companies {
  margin-top: 10px;
  padding-left: 45px;
}

.company {
  border: 3px solid #444;
  border-bottom: none;
}

.companies>div:nth-child(7) {
  border-bottom: 3px solid #444;
}

.company-avatar {
  float: left;
  margin-top: 15px;
  width: 70px;
  height: 70px;
  border: 2px solid #555;
  border-radius: 15px;
}

.company-name {
  margin: 15px 0 0 85px;
  font-size: 1.1em;
  font-weight: bold;
}

.company-info {
  margin: 10px 0 0 85px;
  padding-bottom: 10px;
}

.company-info>p {
  margin-bottom: 0;
}

.link-send-proposal {
  padding-left: 0;
  font-size: 1.2em;
}

.company-header {
  padding-bottom: 20px;
}

@media (max-width: 450px) {
  .navigation-links {
    flex-flow: column wrap;
    align-items: center;
  }
  .navigation-chevron {
    display: none;
  }
}

@media (max-width: 500px) {
  .category {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 700px) {
  .companies-header {
    padding-left: 0;
    font-size: 1.5em;
  }
  .companies {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .categories {
    justify-content: center;
  }
  .companies>div:nth-child(2) {
    margin-top: 10px;
  }
  .logo {
    padding-right: 10px;
  }
}

@media (min-width: 678px) and (max-width: 991px) {
  .btn-send-proposal {
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .btn-send-proposal {
    margin-left: 50px;
  }
}
